body{
	background-color: #d5d9dd;
	
}

input{
	color:black;
}

#adminlogin{
	background-color: #222;
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 20%;
	padding:60px;
	padding-top: 5px;
}

#username, #passwd{
	width:100%;

	margin-bottom: 10px;
}

#login_admin{
	width:100%;
}

#homebox{
	height:300px;
	border: 1px solid #121212;
	background-color: #222;
	padding:110px 0px;
	text-align: center;
}
#homebox h1{
	color: #efefef;
	font-size: 40px;
}

#homebox:hover{
	background-color: #111;
	color:#fff;
}

#goback{
	border:1px solid #000;
	height: 100px;
	background-color: #222;	
	padding:5px 0px;
}

#goback:hover{
	background-color: #111;	
}

#goback h1{
	color: #efefef;
	font-size: 40px;	
}





