body{
	background-color: #d5d9dd;
	
}

input{
	color:black;
}

#adminlogin{
	background-color: #222;
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 20%;
	padding:60px;
	padding-top: 5px;
}

#username, #passwd{
	width:100%;

	margin-bottom: 10px;
}

#login_admin{
	width:100%;
}

#homebox{
	margin-top: 10px;
	padding:50px;
	border: 1px solid #000;
	background-color: #222;
	color:#fff;
}




