.listdiv ul{
	margin:0;
	padding:0;

}

.listdiv li{
	height: 70pt;
	border-bottom: thin solid #f2f2f2;
	list-style: none;
}

.li_container{
	position: relative;
	width: 100%;
	height: 100%;
}

.li_left, .li_right, .li_mid{
	height:100%;
	float:left;
	box-sizing:border-box;
	background: #fff;
}

.li_left{
	position: relative;
	width:15%;
}

.li_mid{	
	width:70%;
	padding: 5pt 0 5pt 5pt;

}

.li_right{
	position:relative;
	width:15%;
}

.li_left img{
	height: 100%;
	border-radius: 50%;
}

.circle{
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:35pt;
	width: 35pt;
	border-radius: 50%;
	background: #9b9b9b;
	color:white;
	line-height: 30pt;
	font-size: small;
	text-align: center;
}

.li_date{
	display: block;
	font-size: small;
	color: #b0b0b0;
}

.li_text{
	font-size: small;
	color: #404040;
	font-family: Circular Std Book,Calibri,Sans-serif !important;
	font-weight: normal;
}

.li_right img{
	margin:0;
	padding:0;
	border:none;
	position:absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:white;
}