body{
	background-color: #fff;
}


#topheader{
	background-color: red; /*#333*/
}

#topheader h2{
	color:white;
}

#newsMenu, #statsMenu, #projectMenu, #organizationMenu{
	background-color: #006DFE;
}

#newsMenu ul li a, #statsMenu ul li a, #projectMenu ul li a, #organizationMenu ul li a{
	color: #fff;
}

#newsMenu ul li a:hover, #organizationMenu ul li a:hover, #statsMenu ul li a:hover, #projectMenu ul li a:hover{
	background-color: transparent;
	color: #ccc;
}

/** Index.php don't change**/
#header{
	background-color: #0153D2;
}

#LoginContainer h1{
	color: #fff;
}

/** STICKY HEADER**/
.scroller{  
	background-color: #006DFE;
	border:none;	
	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background-color: #002d6f;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #FFFFFF;
		background-color: #002d6f;
	}
}

/** END OF STICKY HEADER**/

#linkContainer{
	background-color: #FFF;
}

#linkContainer p{
	color: #000;
}

#indexfooter{
	background-color: #0153D2;
	border-top:1px solid black;
}

#indexfooter a{
	color:white;
}

#copyrightcontainer{
	color:white;
}
/** Home.php **/
#homebox{
	background:#efefef;

	color:#000;
}

#homebox a{
	color: blue;
	font-weight: bold;
}

#homebox p a{
	color:blue;
	font-weight: normal;
}

/** end of home.php **/

/** show all projects**/
#projectcontainer, #newscontainer{
	background-color: #efefef ;
	border:1px solid #dedede;
	color: #000;
}

#projectcontainer h1{
	color: #000;
}

#projectcontainer a{
	color: #fff;
}

#bottom{
	background-color: #efefef;
	/*border-top:1px solid #777;*/
}

#bottom a{
	color:blue;
}

#changeOrginfoA{
	color:#fff;
}

input#logoutbtn{
	color:#777;
}

@media screen and (max-width: 767px) {
	a#scndmenu.page-scroll, input#logoutbtn{
		background-color: #FFF;
	}
	#navbarmenucontainer{
		background-color: #fff;
	}
}

@media screen and (max-width: 600px) {
	a#scndmenu.page-scroll, input#logoutbtn{
		background-color: #FFF;
	}
	button.navbar-toggle.btncolor{
		background-color: #fff;
	}
	button.navbar-toggle.btncolor:hover{
		background-color: #fff;

	}
	button.navbar-toggle.btncolor:focus{
		background-color: #fff;
	}
}

/** FONTS **/

#orgContainer h1{
	color:#0467FF;
}

#reg_pt2_head h1{
	color: #000;
}

#orgInfo a{
	color: #fff;
}

/** END OF FONTS **/

/** INPUTS **/

#uname, #passwd{
	background-color: transparent;
	border-bottom: 2px solid #FFFFFF;
	color: #FFFFFF;
}

#orgName, #orgID, #newPasswd, #rptPasswd, #adr,  #zip, #tlfnmbr, #accountnmbr{
	background-color: transparent;
	border-bottom: 2px solid #0467FF;
	color: #000;
}

#orgName.form-control::-webkit-input-placeholder, #orgID.form-control::-webkit-input-placeholder, #newPasswd.form-control::-webkit-input-placeholder, #rptPasswd.form-control::-webkit-input-placeholder { 
	color: #777; 
}

#orgName.form-control.form-control::-moz-placeholder, #orgID.form-control.form-control::-moz-placeholder, #newPasswd.form-control.form-control::-moz-placeholder, #rptPasswd.form-control.form-control::-moz-placeholder {
	color: #777;
	opacity:0.5;
}
#orgName.form-control:-ms-input-placeholder, #orgID.form-control:-ms-input-placeholder, #newPasswd.form-control:-ms-input-placeholder, #rptPasswd.form-control:-ms-input-placeholder {
	color: #777;
	opacity:0.5;
}
#orgName.form-control::-webkit-input-placeholder, #orgID.form-control::-webkit-input-placeholder, #newPasswd.form-control::-webkit-input-placeholder, #rptPasswd.form-control::-webkit-input-placeholder {
	color: #777;
	opacity:0.5;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	color: #0467FF !important;
}

input[id="uname"]:-webkit-autofill, input[id="passwd"]:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #0467FF inset !important;
	color: #0467FF !important;
}

#uname.form-control::-webkit-input-placeholder, #passwd.form-control::-webkit-input-placeholder { 
	color: #FFFFFF; 
	opacity: 0.5;
}
#uname.form-control::-moz-placeholder, #passwd.form-control::-moz-placeholder {
	color: #FFFFFF;
	opacity: 0.5;
}
#uname.form-control:-ms-input-placeholder, #passwd.form-control:-ms-input-placeholder {
	color: #FFFFFF;
	opacity: 0.5;
}
#uname.form-control::-webkit-input-placeholder, #passwd.form-control::-webkit-input-placeholder {
	color: #FFFFFF;
	opacity: 0.5;
}

.empty_input {   
	border-color: rgba(229, 103, 23, 0.8);
	box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
	outline: 0 none;
}

#reg_news_input, #reg_project_input,label{
	outline:none;
	outline-color:red;
}

/** textarea **/
#aboutOrg2{
	background-color: #fff;
	color: #000;
	border:none;
}

#aboutOrg{
	background-color: transparent;
	color: #000;
	border:none;
}
/** end of textarea**/
#uname.form-control::-webkit-input-placeholder, #passwd.form-control::-webkit-input-placeholder{ 
	color: #777; 
}

#uname, #passwd{
	border-bottom: 1px solid #777;
}
/** END OF INPUTS **/

/** BUTTONS **/
#deletehead{
	color:#000;
}
#deletebutton{
	background-color: transparent;
	border: 1px solid #ccc;
	color: #000;
}
#deletebutton:hover{
	background-color: #ddd;
}

#alternate1btn{
	background-color: #108F10;
	color: #F4F7CA;
}

#alternate1btn:hover{
	background-color: #10A810;
}

.greenbtn{
	background-color: #10A810;
	color: #F4F7CA;
}

.bluebtn{
	background-color: #0467FF;
	color: #FFFFFF;
}
.bluebtn:hover{
	background-color: #0457FF;
	color: #FFFFFF;
}

.bluebtn:focus{
	background-color: #0467FF;
	color: #FFFFFF;
}

.whitebtn{
	background-color: #FFFFFF;
	border:1px solid #CCC;
	color: #777;
}

.whitebtn a{
	color: #777;
}

/* btns registration_pt2 dropdown */
.orgbtn{
	background-color: transparent;
	color: #777;
	border: 1px solid #CCC;
}

.orgbtn:focus{
	background-color: transparent;
	color: #777;
	border: 1px solid #CCC;
}

.orgbtn1{
	background-color: #FFFFFF;
	border:1px solid #CCC;
	color: #777;
}
/*end dropdown*/


.orgbtn3{
	background-color: #0467FF;
	color: #FFFFFF;
}
.orgbtn3:hover{
	background-color: #0457FF;
	color: #FFFFFF;
}

.orgbtn3:focus{
	background-color: #0467FF;
	color: #FFFFFF;
}

#linkbutton{
	background-color: #0467FF;
	color: #FFF;
}


#linkbutton:hover{
	background-color: #002d6f;
	color:#FFF;
}

a.navbar-brand.page-scroll, #header ul.nav.navbar-nav a.page-scroll{
	color: #FFFFFF;
}

a.navbar-brand.page-scroll:focus, #header ul.nav.navbar-nav a.page-scroll:focus{
	color: #FFFFFF;
}

a.navbar-brand.page-scroll:hover, #header ul.nav.navbar-nav a.page-scroll:hover{
	color: #BBB;
}

#registerbutton a.page-scroll:hover{
	text-decoration: none;
	color: #000;
}

/*** logoutbtn ***/ 

#logoutbtn{
	background-color: transparent;
	color: #777;
}

#logoutbtn:hover{
	color: #000;
}


/** END OF BUTTONS**/


/** reg container**/
#regcontainer{
	background-color: #efefef;
}
/** End of regcontainer**/

/** showselectedproject**/

#selectedprojectcontainer h1{
	color: #000;
}

/** end **/

/** register project **/

#regprojectcontainer h1{
	color: #000;
}

/** END **/


/** show selected news **/

#selectednewscontainer{
	background-color: #efefef;
	padding:10px;
}

#selectednewscontainer h1{
	color: #000;
}

/** END **/

/** register news  **/
#registernewscontainer{
	background-color: #efefef;
}

#registernewscontainer h1{
	color: #000;
}

/** END **/ 


/** New stuff **/

.header{
	background-color: #006DFE;
	border: 1px solid: #003DFE;
	color: #fff;
}

#homeboxupperright{
	background-color: #efefef;
}

#homeboxlowerright{
	background-color: #efefef;
}
.homecontent{
	background-color: transparent;
}

#menu{
	color: #DDD;
}

#menu:hover{
	background-color: transparent;
	color: #FFF;
}

input[id=menu]{
	background-color: transparent;
	color: #DDD;
}

input[id=menu]{
	color: #FFF;
}







#addprojectcontainer{
	background-color: #efefef;
}

#main-themebtn{
	border:1px solid #aaa;
	background-color: transparent;
}
#main-themebtn:hover{
	background-color: #ddd;
}
#main-themebtn2{
	border:1px solid #aaa;
	background-color: transparent;
}
#main-themebtn2:hover{
	background-color: #ddd;
}

#changenewscontainer{
		background-color: #efefef;
	}

#main-themebtn3{
	border:1px solid #aaa;
	background-color: transparent;
	color: #000;
}
#main-themebtn3:hover{
	background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right a{
	color: #fff;
}
ul.nav.navbar-nav.navbar-right a:hover{
	color: #ccc;
}

.navbar-header a.navbar-brand{
	color:#fff;
}
.navbar-header a.navbar-brand:hover{
	color:#ccc;
}
#maindropdown a{
	color: black;
}

#statbox3, #statbox2, #statbox-1, #statbox-2, #statstext, #statschooser{
	background:#efefef;
	color:#000;
}

/*SETTINGS - CHOOSE THEME*/

#themeheaderbox{
	background-color: #efefef;
}

/* END OF CHOOSE THEME*/