/******************** MAIN CSS ********************/


body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}



/******************** FONT-FACE ********************/
@font-face {
	font-family: CircularBook;
	src: local(CircularStd-Book);
}

@font-face {
	font-family: CircularBook;
	src: local(CircularStd-Bold);
	font-weight: bold;
}
* {
	font-family: CircularBook, Circular Std Book,Calibri, Arial,Sans-serif !important;
	margin: 0;
	padding: 0;
}





/******************** NAVBAR ********************/

#header{
	border:none;
}

#topheader{
	margin: 0;
	height:80px;
	padding:20px;
	border-radius: 0;
}
#topheader h2{
	padding:0;
	text-align: center;
	margin-top:8px;
	position: relative;
}

#scndmenu{
	font-size: 16px;
	font-weight: bold;

	height:49px;
}

/* Dropdownheader */
#newsMenu, #statsMenu, #projectMenu, #organizationMenu{
	height:0px;
	width: 100%;
	z-index: 100000;    
	overflow: hidden;
}
#newsMenu ul, #statsMenu ul, #projectMenu ul, #organizationMenu ul{
	margin-left: 36%;
	padding:12px;
}
#newsMenu ul li, #statsMenu ul li, #projectMenu ul li, #organizationMenu ul li{
	margin-left:50px;
}

#newsMenu ul li a, #statsMenu ul li a, #projectMenu ul li a, #organizationMenu ul li a{
	padding:2px;
	font-size: 14px;
}

#newsMenu ul li a:hover, #organizationMenu ul li a:hover, #statsMenu ul li a:hover, #projectMenu ul li a:hover{
	text-decoration: none;
}




/******************** STICKY HEADER ********************/
.scroller_anchor{
	height:0px; 
	margin:0; 
	padding:0;
}
.scroller{  	
	border-radius: 0;
	height:50px; 
	margin: 0px;
	width:100%;
	z-index:100;
}


/******************** CONTAINERS ********************/

#regcontainer{
	margin-top: 20px;
	margin-bottom: 20px;
}

#skipContainer{
	text-align: right;
}

#somespaceReg_pt2{
	height:90%;
}

#linkContainer{
	padding:20px;
	margin-top:80px;
	border-radius: 5px;
}

#linkContainer p{
	font-size: 24px;
}



#inproject{
	border:1px solid black;	
}

#phonecontainer{
	max-height:630px;
}



#phonemargin{
	margin-left:-1px;
	margin-top: 125px;
	margin-bottom: 0px;
	margin-right: 44px;
}

/*Projectphone*/
#phone{
	background-image: url(../img/mobile.png);
	background-size: 75%;
	background-repeat: no-repeat;
	visibility: visible;
	padding:0;
	margin:0;
}

#projectphonemargin{
	margin-left:-4px;
	margin-top: -32px;
	margin-bottom: 30px;
	margin-right: 160px;
}

#projectphoneHeader{
	margin-top: 0px;
	margin-left: 53px;
	margin-right:172px;
	margin-bottom: 0;
	height:50px;
	background-color: #006dfe;
}

#projectphoneTopheader{
	background-color: #0057cb;
	height:20px;
	margin-top: 94px;
	margin-left: 53px;
	margin-right:172px;
	margin-bottom: 0;
}

#backkey{
	height:40px;
	width:40px;
	margin-left: 5px;
}

#topTitle{
	color: #fff;
	padding-top:10px;
}

input[id="topTitle"]{
	background-color: transparent;
	margin-left: 20px;

	border:none;
	outline:0;
	width: 180px;
}

input[id="topTitle"]:focus{
	border:none !important;
	box-shadow: none !important;
}

#topTitle::-webkit-input-placeholder{ 
	color: #fff;
	text-decoration: underline;
}
#topTitle::-moz-placeholder{
	color: #fff;
	text-decoration: underline;
}
#topTitle:-ms-input-placeholder{
	color: #fff;
	text-decoration: underline;
}
#topTitle::-webkit-input-placeholder{
	color: #fff;
	text-decoration: underline;
}
#projectphoneContent{
	height:450px;
	margin-left: 53px;
	margin-right:172px;
}

#backgroundAndLogo{
	height:130px;
	width:100%;
	position:relative;
}
#logocircle{
	border-radius: 10000px;
	width:55px;
	height:55px;
	margin-top:8px;
	margin-left:185px;
	position: relative;
}

/*phoneLogo*/
#logoimg{
	width:56px;
	height:56px;
	border-radius: 10000px;
}

#showImage{
	height:130px; 
	width: 100%;
}
#uploadimg{
	position: absolute;
	width:100%;
	height:130px;
	margin-top: -8px;

}

#donationcontainer{

	height:30px;
}

#donationbtn{
	background-color: #15a700;
	height:30px;
	width:90px;
	margin-top: 5px;
	margin-left: 140px;
}

#donationbtn p{
	color:#fff;
	font-weight: bold;
	padding:6px 23px;
}

#countryCitycontainer{
	background-color: transparent;
	height:45px;
}

#countryCitycontainer p{
	color: #777;
}

#inCountry{
	background-color: transparent;
	color:#777;
	width:110px;
	border:none;
	outline:0;
	margin-top: 20px;
	margin-left: 10px;
}

#inCity{
	background-color: transparent;
	color:#777;
	width:120px;
	border:none;
	outline:0;
}

input[id=inCountry]::-webkit-input-placeholder, input[id="inCity"]::-webkit-input-placeholder{ 
	text-decoration: underline;
	color: #777;
	font-size: 18px;
}
input[id=inCountry]::-moz-placeholder, input[id="inCity"]::-moz-placeholder{
	text-decoration: underline;
}
input[id=inCountry]:-ms-input-placeholder, input[id="inCity"]:-ms-input-placeholder{
	text-decoration: underline;
}
input[id=inCountry]::-webkit-input-placeholder, input[id="inCity"]::-webkit-input-placeholder{
	text-decoration: underline;
}

#projectTitleContainer{
	background-color: transparent;
	height:25px;
}

#bottomTitle{
	color:#000;
	margin-left: 10px;
}



input[id="bottomTitle"]{
	background-color: transparent;
	border:none;
	outline:0;
}

#bottomTitle::-webkit-input-placeholder{ 
	color: #000;
	text-decoration: underline;
}
#bottomTitle::-moz-placeholder{
	color: #000;
	text-decoration: underline;
}
#bottomTitle:-ms-input-placeholder{
	color: #000;
	text-decoration: underline;
}
#bottomTitle::-webkit-input-placeholder{
	color: #000;
	text-decoration: underline;
}

#projectAboutContainer{
	color: #000;
}

#aboutProj{
	background-color: transparent;
	color: #000;
	border:none;
	box-shadow: none;
	font-size: 14px;
	resize: none;

	width: 100%; 
	min-width:100%; 
	max-width:100%; 

	height:115px; 
	min-height:115px;  
	max-height:115px;
}

input[id=aboutProj]:focus{

	box-shadow: none;
}

#aboutProj::-webkit-input-placeholder{ 
	text-decoration: underline;
	color: #000;
}
#aboutProj::-moz-placeholder{
	text-decoration: underline;
	color: #000;
}
#aboutProj:-ms-input-placeholder{
	text-decoration: underline;
	color: #000;
}
#aboutProj::-webkit-input-placeholder{
	text-decoration: underline;
	color: #000;
}

#projectSavebtnContainer{
	background-color: transparent;
	height:80px;
	width:100%;
}

#projectSavebtn{
	background-color: #15a700;
	height:40px;
	width:70px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 92px;
	margin-top: 25px
}

input[id="projectSavebtn"]{
	font-weight: bold;
	color: #fff;
}
/*
#projectSavebtn{
	background-color: #15a700;
	height:40px;
	width:45px;
	border-radius: 1000px;
	margin-top: 25px;
	margin-left: 100px;
	}*/
/*
#projectSavebtn p{
	color: #fff;
	font-weight: bold;
	padding:3px;
	padding-top: 10px;
}
*/


@media screen and (max-width: 1200px) {
	#phonemargin1{
		margin-top: -17px;
		margin-left: -10px;
		margin-right: -31px;
		margin-bottom: 30px;
	}
	#projectphoneHeader{
		height:30px;
	}

	#projectphoneTopheader{
		height:15px;
	}

	#backkey{
		height:25px;
		width:30px;
	}

	#topTitle{
		color: #fff;
		padding-top:5px;
		font-size: 16px;
	}
	input[id="topTitle"]{
		margin-left: 10px;
		width: 155px;
	}

	#projectphoneContent{
		height:370px;
		margin-left: 53px;
		margin-right:172px;
	}

	#backgroundAndLogo{
		height:120px;
	}

	#logocircle{
		width:45px;
		height:45px;
		margin-top:7px;
		margin-left:152px;

	}

	/*phoneLogo*/
	#logoimg{
		width:46px;
		height:46px;
		border-radius: 10000px;
	}

	#uploadimg{
		height:120px;
		margin-top: -8px;
	}

	#donationcontainer{

		height:25px;
	}

	#donationbtn{
		height:25px;
		width:75px;
		margin-top: 5px;
		margin-left: 125px;
	}

	#donationbtn p{
		padding:4px 18px;
	}


	#countryCitycontainer{
		height:30px;
	}

	#inCountry{
		width:90px;
		margin-top: 10px;
		margin-left: 7px;
	}

	#inCity{
		width:95px;
	}

	input[id=inCountry]::-webkit-input-placeholder, input[id="inCity"]::-webkit-input-placeholder{ 		
		font-size: 14px;
	}
	input[id=inCountry]::-moz-placeholder, input[id="inCity"]::-moz-placeholder{
		font-size: 14px;
	}
	input[id=inCountry]:-ms-input-placeholder, input[id="inCity"]:-ms-input-placeholder{
		font-size: 14px;
	}
	input[id=inCountry]::-webkit-input-placeholder, input[id="inCity"]::-webkit-input-placeholder{
		font-size: 14px;
	}


	#projectTitleContainer{
		height:20px;
	}

	#bottomTitle{
		margin-left: 10px;
	}

	#bottomTitle::-webkit-input-placeholder{ 
		font-size: 16px;
	}
	#bottomTitle::-moz-placeholder{
		font-size: 16px;
	}
	#bottomTitle:-ms-input-placeholder{
		font-size: 16px;
	}
	#bottomTitle::-webkit-input-placeholder{
		font-size: 16px;
	}

	#projectSavebtnContainer{
		height:60px;
		width:100%;
	}

	#projectSavebtn{
		height:30px;
		width:60px;
		border-radius: 7px 7px 7px 7px;
		margin-left:74px;
		margin-top: 8px
	}

}


@media screen and (max-width: 991px) {
	#phone{
		margin-top: 10px;
		background: transparent;
		border: 1px solid black;
		border-radius: 10px 10px 10px 10px;
		width:400px;
		height:620px;
		margin-bottom: 30px;

	}

	#phonemargin1{
		margin-left: 0;
		margin-right: 0;
		margin-top: -95px;
		margin-bottom: 100px;
		
	}

	#projectphoneHeader{
		margin-top: 0px;
		margin-left: 0px;
		margin-right:0px;
		margin-bottom: 0;
		height:80px;
	}

	#projectphoneTopheader{
		background-color: #0057cb;
		height:40px;
		margin-top: 94px;
		margin-left: 0px;
		margin-right:0px;
		border-radius: 10px 10px 0 0;
		margin-bottom: 0;
	}

	#backkey{
		height:70px;
		width:70px;
		margin-left: 5px;
	}

	#topTitle{
		padding-top:10px;
		height: 75px;
		font-size: 18px;
	}

	input[id="topTitle"]{
		margin-left: 20px;
		width: 290px;
	}

	#topTitle::-webkit-input-placeholder{ 
		font-size: 18px;

	}
	#topTitle::-moz-placeholder{
		font-size: 18px;
	}
	#topTitle:-ms-input-placeholder{
		font-size: 18px;
	}
	#topTitle::-webkit-input-placeholder{
		font-size: 18px;
	}
	#projectphoneContent{
		width:100%;
		height:500px;
		margin:0;
		margin-top: 0;
	}

	#backgroundAndLogo{
		height:170px;
		margin-top: 0;
	}

	#showImage{
		height:200px; 
	}

	#logocircle{
		width:90px;
		height:90px;
		margin-top:10px;
		margin-left:295px;
	}

	/*phoneLogo*/
	#logoimg{
		width:91px;
		height:91px;

	}

	#uploadimg{
		width:100%;
		height:200px;
		margin-top: -10px;
	}

	#donationcontainer{
		height:40px;
	}

	#donationbtn{
		height:40px;
		width:130px;
		margin-top: 25px;
		margin-left: 230px;
	}

	#donationbtn p{
		padding:9px 42px;
		font-size: 16px;
	}

	#countryCitycontainer{
		height:35px;
	}

	#countryCitycontainer p{
		color: #777;
	}

	#inCountry{
		width:145px;
		margin-top: 10px;
		margin-left: 10px;
		font-size: 16px;
	}

	#inCity{
		width:145px;
		font-size: 16px;
	}

	#projectTitleContainer{
		height:35px;
	}

	#bottomTitle{
		margin-left: 10px;
		margin-top: 5px;
		font-size: 20px;
	}

	input[id="bottomTitle"]{
		font-size: 20px;
	}

	#bottomTitle::-webkit-input-placeholder{ 
		font-size: 20px;
	}
	#bottomTitle::-moz-placeholder{
		font-size: 20px;
	}
	#bottomTitle:-ms-input-placeholder{
		font-size: 20px;
	}
	#bottomTitle::-webkit-input-placeholder{
		font-size: 20px;
	}

	#aboutProj{
		font-size: 16px;

		width: 100%; 
		min-width:100%; 
		max-width:100%; 

		height:135px; 
		min-height:135px;  
		max-height:135px;
	}

	input[id=aboutProj]:focus{

		box-shadow: none;
	}

	#projectSavebtn{
		background-color: #15a700;
		height:40px;
		width:140px;
		border-radius: 5px 5px 5px 5px;
		margin-left: 132px;
		margin-top: 0px
	}

}

@media screen and (max-width: 767px) {
	
}


@media screen and (max-width: 600px) {
	

}




/*End of projectphone*/

#aligncenter{
	text-align: center;
	padding:15px;
}

#aligncenternews{
	text-align: center;
	padding:15px;
	margin-top: 75px;
}

#footercontainer{
	width:100%;
}

#indexfooter{
	height:200px;
	overflow-y:hidden;
}

#footerpadding{
	padding:50px;
}


#uploadpicContainer{ /** Bruker ikke? **/
	background-color: green;
	color: #FFF;
	height:34px;
	padding: 1px 6px;
	width:98%;

} 




#navbarContainer{
	border-bottom: 1px solid #000;
}




#registration_pt2_margin{
	margin-left: -15px;
	padding-right: 0;
}

#registration_pt2_margin2{
	padding-left: 0;
	padding-right: 0;
}

#reg_pt2_inputZipcode{
	margin: 5px;
	margin-top:0;
	margin-bottom: 2px;
	right:0;
	width:105%;
}

/*project squares*/
#projectcontainer{
	border-radius: 0px;
	margin:5px;
	margin-top:20px;
	margin-left: 25px;
	width:350px;
	height:350px;
}

#projectcontent{
	overflow:hidden;
	height: 340px;
	margin-bottom: 10px;
}

#newscontainer{
	border-radius: 0px;
	margin:5px;
	margin-top:20px;
	margin-left: 25px;
	width:260px;
	height:250px;
}
#newscontent{
	overflow:hidden;
	height: 245px;
	margin-bottom: 10px;
}
/*End of project squares*/

#bottom{
	font-size: 20px;
	bottom:0;
	position:absolute;
	text-align: center;
	margin-left:-15px;
}

#bottomhome{
	bottom:0;
	right:0;
	position: absolute;
	margin-left: -15px;
}

#aboutOrgPadding{
	padding-left:30px;
}

#aboutOrgPadding2{
	padding-left:8px;
}


#changeOrginfoA{
	padding:10px;
	margin-bottom: 20px;
	bottom:0;
}

input#logoutbtn{
	font-weight: bold;
	font-size: 16px;
	margin-left: 700%;
	margin-top: 13px;
}

/******************** DIFFERENT MEDIAS ********************/
@media screen and (max-width: 1470px) {
	input#logoutbtn{
		margin-left: 300%;

	}
}

@media screen and (max-width: 1200px) {
	input#logoutbtn{
		margin-left: 100%;

	}
}


@media screen and (max-width: 1024px) {
	

	#aboutOrgPadding2{
		padding-left:30px;
	}
	input#logoutbtn{
		margin-left: 0;

	}
	
}

@media screen and (max-width: 767px) {
	input#logoutbtn{
		margin-top: -30px;
		padding:0;
		padding-left: 15px;
		height:50px;
		text-align: left;
		font-size: 16px;
		font-weight: bold;
		border-bottom: 1px solid black;
		border-radius: 0 0px 5px 5px;
	}
	
	#menunav{
		margin-bottom: 0;
	}
	#nobottommargin{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#nomargintop{
		margin-top: 0;
		padding-top: 0;
	}
	
}


@media screen and (max-width: 600px) {
	input#logoutbtn{
		margin-top: -30px;
		padding:0;
		padding-left: 15px;
		height:50px;
		text-align: left;
		font-size: 16px;
		font-weight: bold;
		border-bottom: 1px solid black;
		border-radius: 0 0px 5px 5px;
	}
	#ul.nav.navbar-nav{
		margin-bottom: 0;
	}
	

	div.navbar-collapse.navbar-ex1-collapse.collapse.in{
		border-top: none;
		box-shadow: none;
		outline: 0;
	}

}




/******************** IMAGES ********************/

img{
}

#imagecontainer{
	position: relative;
}

/*Homelogo + background*/
#orgLogo{
	width:100px;
	height:100px;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 1px;
	position: absolute;
	top: 0; right: 0;
	border-radius: 10000px;
}
#orgBackground{
	width:100%;
	height:200px;
	margin-top: 15px;
	margin-bottom:5px;
	position: relative;
}

#projectBackground{
	margin-top:15px;
	margin-bottom: 5px;
	width:100%;
	height:200px;
}


/*end home*/

#showprojectimg{
	height:50px;
	width:100%;
}



/******************** FONTS ********************/ 


#skipContainer a{
	font-size: 18px;
	padding-right:40px;
}

/******************** GLYPHICONS ********************/

/*span.glyphicon-ok-sign, span.glyphicon-remove-sign {
	color: #000;
	font-size: 2.7em;
	}*/









	/******************** INPUTS ********************/



	#uname, #passwd{
		border-radius: 0px;
		border:none;
		box-shadow: none;
	}

	#uname:focus, #passwd:focus{
		border-bottom: 2px solid #999999;
	}

	input[type="text"], input[type="password"],#inputTextarea, input[type="tel"], input[type="email"]{
		font-size: 20px;
	}

	#orgName, #orgID, #newPasswd, #rptPasswd, #adr,  #zip, #tlfnmbr, #accountnmbr{
		border-radius: 0px;
		border:none;
		box-shadow: none;
	}
	#orgNames, #orgIDs{

	}

	#inputTextarea{
		font-size: 20px;
	}


	/************ Textarea ************/

	/*About organization*/
	#aboutOrg2{
		box-shadow: none;
		font-size: 14px;
		resize: none;

		width: 100%; 
		min-width:100%; 
		max-width:100%; 

		height:100px; 
		min-height:100px;  
		max-height:100px;

	}

	#aboutOrg{
		box-shadow: none;
		font-size: 14px;
		resize: none;

		width: 100%; 
		min-width:100%; 
		max-width:100%; 

		height:100px; 
		min-height:100px;  
		max-height:100px;

		margin-bottom: 15px;
	}
/*
input[id=aboutOrg]:focus{
	border:1px solid red;
	box-shadow: none;
}

#aboutOrg::-webkit-input-placeholder{ 
	text-decoration: underline;
}
#aboutOrg::-moz-placeholder{
	text-decoration: underline;
}
#aboutOrg:-ms-input-placeholder{
	text-decoration: underline;
}
#aboutOrg::-webkit-input-placeholder{
	text-decoration: underline;
	}*/
	/*end of about org*/

	/*showproject & showNews*/
	#aboutProj2{
		border:none;
		box-shadow: none;
		font-size: 18px;
		resize: none;

		width: 300px; 
		min-width:300px; 
		max-width:300px; 

		height:115px; 
		min-height:115px;  
		max-height:115px;
		cursor: default;
	}
	/*end*/


	input[id="orgIDs"],input[id="orgNames"],input[id="newPasswds"],input[id="rptPasswds"]{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/*About org_pt2*/

	#registerorglabel{
		margin-bottom: 0;
	}

	#reg_pt2_input{
		margin: 5px;
		margin-top: 0;
		margin-bottom: 2px;
		width:98%;
	}

	#aboutOrg_pt2{
		margin:5px;
		margin-top: 0;
		margin-bottom: 2px; 
		width:98%;
		font-size: 18px;
		min-width:98%; 
		max-width:98%; 

		height:115px; 
		min-height:115px;  
		max-height:115px;
	}

	#aboutOrg_pt2::-webkit-input-placeholder{ 
		font-size: 18px;
	}
	#aboutOrg_pt2::-moz-placeholder{
		font-size: 18px;
	}
	#aboutOrg_pt2:-ms-input-placeholder{
		font-size: 18px;
	}
	#aboutOrg_pt2::-webkit-input-placeholder{
		font-size: 18px;
	}
	/*end og about org_pt2*/




	/******************** BUTTONS ********************/ 
	.greenbtn{
		font-size:18px;
	}

	.bluebtn{
		border-radius: 4px;
		padding: 1px 6px;
		font-size:14px;
		width:98%;
		height:34px;
		margin: 5px;

	}

	.whitebtn{
		border-radius: 4px;
		padding: 5px 6px;
		font-size: 14px;
		width:49.5%;
		height:34px;
	}

	#alternate1btn{
		width:98%;
		margin:5px;
		margin-bottom: 50px;
	}

	/* btns registration_pt2 */
	.orgbtn{
		border-radius: 4px;
		padding: 1px 6px;
		height: 34px;
		width:98%;
		margin:5px;
		font-size:14px;
	}

	.orgbtn:focus{
		font-size:14px;
	}

	.orgbtn1{
		border-radius: 4px;
		padding: 1px 6px;
		font-size: 14px;
		width:98%;
		height:34px;
		margin: 5px;
		margin-top: 0;
		margin-bottom: 2px;
	}
	/*end dropdown*/

	.btn-success{
		margin: 5px;
		width:98%;
	}

	.orgbtn3{
		border-radius: 4px;
		padding: 1px 6px;
		font-size:14px;
		width:100%;
		height:34px;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		margin:5px;
	}

	/*** End of btns registration_pt2 ***/


	#uploadPhoto{
		width:100%;
	}

	#completeReg{
		width:100%;
		margin-top: 5px;
		margin-left: 0px;
	}


	#registerbutton a.page-scroll{
		text-decoration: none;
	}


	




	#buttondiv{
		padding-left:5px;
		padding-right: 0px;
	}

	


	/******************** NYTT ********************/











	/******Vegards KNOT*******/

	#reg_news_input, #reg_project_input,label{
		margin: 5px;
		width:98%;
	}


	#preview, #previewLogo{
		max-width:98%; 
		max-height:30%;
		min-width:98%; 
		min-height:30%;

		height:30%;
		width: 98%;

		margin:5px; 

	}

	select{
		margin: 5px;
		width:98%;
		font-size: 20px;
	}

	.tokenize-sample { width: 98%; margin:5px;o}




	/** New stuff **/

	.header{
		margin:20px;
		margin-top: 20px;
		margin-bottom: 0;
		padding:10px;
		width:96.75%;
		background-color: #0153D2;
		color: #fff;
		border-radius: 10px;
	}

	.header h1{
		font-size: 52px;
		font-weight: bold;
		margin: 0;
		padding:0;
	}

	.header p{
		padding:15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0;
		font-size: 20px;
	}

	/*home*/
	#homebox{
		margin:-10px;
		margin-top:20px;
		border-radius: 4px;
		height:620px;
	}

	#homebox h2, #homebox h3{
		text-align: center;
	}
	/*end home*/

	#homeboxupperright{
		margin-left: 20px;
		margin-top:20px;
		margin-right: 0;
		margin-bottom: 0;


		border-radius: 4px;
		height:300px;
	}

	#homeboxlowerright{
		margin:20px;
		margin-top:20px;
		margin-right: 0;
		border-radius: 4px;
		height:300px;
	}
	.homecontent{
		margin:20px;
		margin-left:15px;
		margin-top:0px;
		padding-right: 0;
		width:97.25%;
	}

	#menu{
		color: #DDD;
		padding:20px;
		font-size: 14px;
	}

	#menu:hover{
		padding:20px;
		font-size: 14px;
	}

	input[id=menu]{
		border:none;
		padding:20px;
		margin-right:30px;
	}

	input[id=menu]{
		outline:none;
	}

	#somespace{
	height:50px;
}
